.cart-div{
    padding:20px;
    display: flex;
    gap:20px;
    width: 100%;
    
}

.cart-container{
    display: block;
    
    height: 100vh;
    background-color: #f4f4f4;
}
.pro-detail{
    
    padding:30px;
    margin:20px
}

.products-details{
    background-color: white;
    padding:20px;
    width:65%;
    height:auto
    
}

.product-image{
    height:250px;
}

.price-details{
    align-items: start;
    background-color: white;
    padding:20px;
    width: 35%;
}
